<%- include("partials/header", {href:game.cssFile}) %>

<h3><%=game.name%></h3>

<form class="configuration"></form>

<div id="invader"></div>

<!-- <script src="/js/invader.js"></script> -->

<%- include("partials/footer", {src:game.name}) %>
